.profile {
  line-height: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px;
  padding: 10px 0px;
  background: #f2f3f7;
  .profileUser {
    width: 500px;
    height: 500px;
    padding: 20px 20px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    .user {
      display: flex;
      flex-direction: column;
    }
    .changePassword {
      display: flex;
      justify-content: center;
      line-height: 22px;
      color: #212b25;
      text-transform: uppercase;
    }
    .resetPassword {
      padding: 0 15px;
      border-radius: 3px !important;
      height: 40px;
      line-height: 40px;
      background: #01567f;
      position: relative;
      margin-left: 0px;
      color: #fff;
      border: solid 1px transparent;
      font-weight: bold;
      margin-top: 10px;
      font-size: 14px;
      margin-left: 318px;

      &:hover {
        cursor: pointer;
        background: initial;
        border: 1px solid #01567f;
        color: #01567f;
      }
    }
  }
}
