/* ADMIN DROPDOWN */
.admin-layout .dropdown {
    position: relative;
    width: 150px;
    margin: 0 5px;
    user-select: none;
}

.admin-layout .dropdown-selected {
    background-color: var(--color-dropdown-selected);
    color: var(--color-text-tertiary);
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    transition: all 0.15s ease;
    font-weight: 500;
}

.admin-layout .dropdown-selected.active,
.dropdown-selected:hover {
    background-color: var(--color-dropdown-focus);
}

.admin-layout .dropdown-options {
    padding: 10px 0;
    background-color: #fff;
    position: absolute;
    min-width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    z-index: 1;
    box-shadow: var(--box-shadow);
}

.admin-layout .dropdown-options .active {
    background-color: var(--color-dropdown-selected);
    color: var(--color-text-tertiary);
    font-weight: 500;
}

.admin-layout .dropdown-options div {
    padding: 10px;
    cursor: pointer;
    transition: all 0.15s ease;
}

.admin-layout .dropdown-options div:hover {
    background-color: var(--color-dropdown-selected);
    color: var(--color-text-tertiary);
}
