.container{
    display: flex;
    padding: 50px 125px 0px 125px;

    .navbar{
        margin-right: 100px;
    }

}


// .profile {
//     display: flex;
//     padding: 50px 125px 100px 125px;

//     .profileButton {
//         margin-right: 200px;
//     }

//     .profileUser {
//         .user{
//             display: flex;
//             flex-direction: column;
//         }
//     }
// }