/* AMIDN PAGINATION */
.card-pagination {
    display: flex;
    justify-content: flex-start;
    user-select: none;
}

.card-pagination .pag-btn {
    margin: 0 2px;
    border: none;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all 0.2s ease;
    background-color: var(--color-btn-primary);
    font-size: 14px;
}

.card-pagination .pag-btn:disabled {
    cursor: default;
}

.card-pagination .pag-btn:hover:not(:disabled):not(.active) {
    background-color: var(--color-btn-primary-hover);
    color: var(--color-text-tertiary);
    font-size: 16px;
}

.card-pagination .pag-btn.active {
    background-color: var(--color-btn-secondary);
    color: #fff;
    font-size: 16px;
}
