.profile {
  line-height: 3.2rem;
  .profileUser {
    .user {
      display: flex;
      flex-direction: column;
    }
    .changePassword {
      font-size: 19px;
      line-height: 22px;
      font-weight: 400;
      color: #212b25;
      text-transform: uppercase;
      margin-bottom: 27px;
    }
    .resetPassword {
      padding: 0 15px;
      border-radius: 3px !important;
      height: 40px;
      line-height: 40px;
      background: #01567f;
      position: relative;
      margin-left: 0px;
      color: #fff;
      border: solid 1px transparent;
      font-weight: bold;
      margin-top: 10px;
      font-size: 14px;

      &:hover {
        cursor: pointer;
        background: initial;
        border: 1px solid #01567f;
        color: #01567f;
      }
    }
  }
}
